{
  "swagger": "2.0",
  "info": {
    "title": "Dictionary",
    "description": "This is an Dictionary for all my Dictionary entries. I use a single Dictionary system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "dictionary.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/dictionary/": {
      "get": {
        "summary": "all Dictionaries",
        "description": "all Dictionaries",
        "operationId": "getDictionaries",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across Dictionary",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a Dictionary post",
        "description": "add a Dictionary post",
        "operationId": "addDictionary",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the Dictionary was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the Dictionary originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the Dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/published/": {
      "get": {
        "summary": "published Dictionaries",
        "description": "published Dictionaries",
        "operationId": "getPublishedDictionaries",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{Dictionary_id}/": {
      "get": {
        "summary": "Retrieve a Dictionary using its slug",
        "description": "Returns the Dictionary detail",
        "operationId": "getDictionary",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "the unique id for Dictionary entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update Dictionary",
        "description": "update Dictionary",
        "operationId": "updateDictionary",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "the unique id for Dictionary entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the Dictionary was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the Dictionary originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the Dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete Dictionary",
        "description": "delete Dictionary",
        "operationId": "deleteDictionary",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "the unique id for Dictionary entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Dictionary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{Dictionary_id}/tags/": {
      "get": {
        "summary": "Dictionary tags",
        "description": "Dictionary tags",
        "operationId": "getDictionaryTags",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "id for Dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to Dictionary",
        "description": "add tag to Dictionary",
        "operationId": "addDictionaryTag",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "id for the Dictionary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/{Dictionary_id}/tags/{tag}": {
      "delete": {
        "summary": "delete Dictionary tag",
        "description": "delete Dictionary tag",
        "operationId": "deleteDictionaryTag",
        "parameters": [
          {
            "name": "Dictionary_id",
            "in": "path",
            "description": "id for the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the Dictionary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from Dictionary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/dictionary/tags/{tag}/dictionary/": {
      "get": {
        "summary": "Dictionary tags by week Dictionaries",
        "description": "Dictionary tags by week Dictionaries",
        "operationId": "getDictionaryTagCDictionary",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dictionary"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "Dictionary": {
      "properties": {
        "Dictionary_id": {
          "description": "unique id of the Dictionary",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the Dictionary was posted",
          "type": "string"
        },
        "title": {
          "description": "title for the Dictionary",
          "type": "string"
        },
        "author": {
          "description": "author of the Dictionary",
          "type": "string"
        },
        "summary": {
          "description": "summary for the Dictionary",
          "type": "string"
        },
        "body": {
          "description": "full body text of the Dictionary",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the Dictionary",
          "type": "string"
        },
        "status": {
          "description": "status of the Dictionary",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the Dictionary originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
